@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap');
html, body { 
  height: 100vh; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #fff;
}

:root {
  --darkest-color:#660066;
  --normal-color:#993399;
  --lightest-color:#e2bce2;
  --graynormal-color: #4b4b4b;
  --graydarkest-color: #353535;
  --graylightest-color: #616161;
  --reddarkest-color: #b60000;
  --background-color: #f3f3f3;

}


/*table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e2bce2;
  }
  
  caption {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
*/

@keyframes slideanimation2 {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}