

.container-equipment-reports {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    font-size: 14px;
    margin-bottom: 20px;
}

.mat-drawer-content {
    height: 0;
}

.container-equipment-reports .container-inside {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
}


.container-equipment-reports .container-inside .card form{ 
   width: 100%;
 }

.container-equipment-reports .container-inside .card p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #363636;
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin: 0px;
 }

 .container-equipment-reports .container-inside .card .form-group-top .form-group:nth-child(1){
    grid-column: 2;
    margin: auto;
}


.container-equipment-reports .container-inside .card .form-group-top .form-group:nth-child(2){
    grid-column: 4;
    margin: auto;
}

.container-equipment-reports .container-inside .card .form-group-top {
    display: grid;
    grid-template-columns: 1fr 200px 10px 200px 1fr;
    margin-top: 25px;
}

.container-equipment-reports .container-inside .card .container-form-group {
    display: grid;
    grid-template-columns: 1fr 200px 200px 200px 1fr;
    margin-top: 10px;
}

.container-equipment-reports .container-inside .card .form-group-top label{
    display: block;
    font-weight: 500;
    font-size: 15px;
}

.container-equipment-reports .container-inside .card .form-group-top select{
    padding: 8px 7px;
    margin-top: 7px;
}

.container-equipment-reports .container-inside .card .form-group-top select:nth-child(2){
    width: 200px;
}

.container-equipment-reports .container-inside .card .container-form-group .form-group:nth-child(1){
    grid-column-start: 2;
    margin: auto;
   
}

.container-equipment-reports .container-inside .card .container-form-group .form-group:nth-child(2){
    margin: auto;
   
}

.container-equipment-reports .container-inside .card .container-form-group .form-group:nth-child(3){
   margin-left: 10px;
}

.container-equipment-reports .container-inside .card .container-form-group input[type=text]{
    padding: 10px;
    margin-top: 7px;
}

.container-equipment-reports .container-inside .card .container-form-group input[type=number]{
    padding: 8px;
    margin-top: 7px;
}

.container-equipment-reports .container-inside .card .container-form-group input[type=date]{
    padding: 7px 7px;
    margin-top: 7px;
}

.container-equipment-reports .container-inside .card .container-form-group option.button-option{
    padding: 10px;
    margin-top: 7px;
}

.container-equipment-reports .container-inside .card .container-form-group .form-group label{ 
    display: block;
    font-weight: 500;
    font-size: 15px;
}

.container-equipment-reports .container-inside .card .container-form-group .form-group select{ 
    padding: 8px 7px;
    margin-top: 7px;
}

.container-equipment-reports .container-inside .card .container-form-group select.form-control-select {
    width: 250px;
}

.container-equipment-reports .container-inside .card .container-button {
    display: grid;
    grid-template-columns: 1fr 100px 10px 100px 1fr;
    margin: 10px 0px;
    width: 100%;
}

.container-equipment-reports .container-inside .card .container-button button {
    grid-column-start: 2;
    padding: 10px 20px;
    border-style: none;
    background-color: var(--graynormal-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

.container-equipment-reports .container-inside .card .container-button button:hover {
    background-color: var(--graydarkest-color);
    transform: translateY(-3px);
}

.container-equipment-reports .container-inside .card .container-button button:nth-child(2) {
    grid-column-start: 4;
}

.container-equipment-reports .container-inside .container-filter {
    padding: 30px 0px 0px 20px;
}

.container-equipment-reports .container-inside .container-filter select{
    padding: 8px 7px;
}

.container-equipment-reports .container-inside .container-filter button{
    padding: 10px 20px;
    border-style: none;
    background-color: var(--graynormal-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 10px;
}

.container-equipment-reports .container-inside .container-table {
   border-spacing: 0;
   width: 100%;
   padding: 0px 0px 20px 0px;
   margin-top: 0px;
}

.container-equipment-reports .container-inside .container-table table{
    width: 100%;
    padding: 5px 30px 0px 30px;
   
 }

.container-equipment-reports .container-inside .container-table table th{
  background-color: #616161;
  color: #f3f3f3;
  font-weight: 400;
  padding: 10px 0px;
 }


 .container-equipment-reports .container-inside .container-table table td{
    padding: 10px 20px;
    text-align: center;
    border-left: 1px solid #969696;
    border-right: 1px solid #969696;
    border-bottom: 1px solid #969696;
 }

 .container-equipment-reports .container-inside .container-table table td:hover{
    background-color: var(--lightest-color);
 }



 .container-equipment-reports .container-inside .container-table table td.table-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
 }

 .container-equipment-reports .container-inside .container-table table td.table-button button{
    padding: 5px 20px;
    border-style: none;
    background-color: #4b4b4b;
    color: white;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
 }

 .container-equipment-reports .container-inside .container-table table td.table-button button:nth-child(2){
    background-color: red;
    border-style: none;
    color: white;
    margin-left: 5px;
 }

 .container-equipment-reports .container-inside .container-table table td.table-button button:nth-child(2):hover{
    background-color: var(--reddarkest-color);
 }

 .container-equipment-reports .container-inside .container-table table td.table-button button:hover{
    transform: translateY(-3px);
    background-color: var(--graydarkest-color);
 }

 .pdf-button {
    display: grid;
    grid-template-columns: 1fr 180px;
    padding: 10px 30px 0px 30px;
    grid-column-start: 2;
 }

 .pdf-button input[type=button] {
    grid-column: 2;
    margin: auto;
    padding: 8px 20px;
    border: 1px solid #4b4b4b;
    background-color: white;
    color: #4b4b4b;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
 }

 .pdf-button input[type=button]:hover {
    border: 1px solid var(--normal-color);
    background-color: var(--normal-color);
    color: var(--background-color);
 }


 .container-equipment-reports .container-inside .container-table tr:nth-child(even) {background: #e9e9e9}
 .container-equipment-reports .container-inside .container-table tr:nth-child(odd) {background: #FFF}

 .table-pagination-outer {
    display: grid;
    grid-template-columns: 1fr 280px;
    margin: 0px 20px;
    background: var(--graynormal-color);
    height: 40px;
 }

 .table-pagination-inner{
    grid-column: 2;
    height: 40px;
    margin-top: -5px;
 }

.table-pagination-inner ::ng-deep .ngx-pagination .current {
    background: white;
    color: var(--graydarkest-color);
  }

.table-pagination-inner ::ng-deep .ngx-pagination a{
    color: #ccc;
  }

  .table-pagination-inner ::ng-deep .ngx-pagination a:hover{
    color: var(--graydarkest-color);
  }