<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="mat-elevation-z3" opened = "true">
      <mat-toolbar color="primary">Sidenav</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/user-menu/user-courses"><mat-icon fontIcon="book" aria-hidden="false"></mat-icon>Course</a>
        <a mat-list-item routerLink="/user-menu/user-equipments"> <mat-icon fontIcon="devices" aria-hidden="false"></mat-icon>Equipment</a>
        <a mat-list-item routerLink="/user-menu/user-consumables"> <mat-icon fontIcon="eco" aria-hidden="false"></mat-icon>Consumables</a>
        <a mat-list-item routerLink="/" [queryParams] = "{logout: true}"><mat-icon fontIcon="logout" aria-hidden="false" ></mat-icon>Logout</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Holy Angel University</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="mat-elevation-z3" opened="true">
      <mat-toolbar color="primary" class="toolbar-with-image">
        <div class="image-container">
          <img [src]="imageUrl" alt="Holy Angel University">
        </div>
      </mat-toolbar>

      <div class="nav-list-icon">
      <mat-nav-list>
        <a mat-list-item routerLink="/user-menu/user-courses" class="itemlink">
          <mat-icon fontIcon="book" aria-hidden="false">
          </mat-icon>
          Course
        </a>

        <a mat-list-item routerLink="/user-menu/user-equipments" class="itemlink">
          <mat-icon fontIcon="devices" aria-hidden="false">
          </mat-icon>
          Equipment
        </a>

        <a mat-list-item routerLink="/user-menu/user-consumables" class="itemlink">
          <mat-icon fontIcon="eco" aria-hidden="false">
          </mat-icon>
          Consumables
        </a>

        <div class="list-last-main">
          <div class="list-last">
        <a mat-list-item routerLink="/" [queryParams]="{ logout: true }" class="itemlink-last">
          <mat-icon fontIcon="logout" aria-hidden="false">
          </mat-icon>
          Logout
        </a>
      </div>
      </div>
      </mat-nav-list>
    </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="custom-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="menu-icon">menu</mat-icon>
        </button>
        <div class="content-container">
          <div class="centered-content">
            <div class="title-container">
              <span>College of Criminal Justice Education and Forensics</span>
              <h4>LAB SOLUTIONS</h4>
            </div>
          </div>
        </div>
      </mat-toolbar>
      <div class="content-container content-container-background">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>